$background-grey: #191c21;
$darkest-grey: #1c2027;
$nav-grey:#252931;
$details-dark-grey: #2e3239;
$light-border-grey: #373a3f;
$coral-pink: #F46E6B;
$dark-pink: #9A5E5D;
$ocean-blue: #1A5863;
$details-grey: #7F8386;
$details-white: #F2F0EF;
$details-beige: #B9ADA8;