$background-grey: #191c21;
$darkest-grey: #1c2027;
$nav-grey: #252931;
$details-dark-grey: #2e3239;
$light-border-grey: #373a3f;
$coral-pink: #f46e6b;
$dark-pink: #9a5e5d;
$ocean-blue: #1a5863;
$details-grey: #7f8386;
$details-white: #f2f0ef;
$details-beige: #b9ada8;
