<div class="container">
    <div class="box">
      <img src="../assets/images/avatar.png" class="user-backgroung-image">
      <div class="top-icons">
        <div class="top-icon-box menu-hamburger" (click)="showMenu()">
          <mat-icon>menu</mat-icon>
        </div>
        <div class="top-icon-box logo">
          <img src="../assets/images/heart.png" class="heart-icon">
          uilove
        </div>
        <div class="top-icon-box work-icon">
          <mat-icon>work</mat-icon>
        </div>
      </div>
      <div class="title-box">
        <span class="big-title">Principal <span class="pink-font">Dedignes</span></span>
        <span class="small-title">who believe in simplicity.</span>
        <span class="pink-font">love with UI / GUI / UX</span>
      </div>
      <div class="notifications-icons">
        <div class="notifications-icon-box">
          <img src="../assets/images/ball.png" class="notification-icon notification-icon-active">
          <span class="notification-icon-counter">21</span>
        </div>
        <div class="notifications-icon-box">
          <img src="../assets/images/icon1.png" class="notification-icon">
        </div>
        <div class="notifications-icon-box">
          <img src="../assets/images/be.png" class="notification-icon">
        </div>
      </div>
    </div>
    <div class="notifications-box">
        <app-notification></app-notification>
        <app-notification></app-notification>
    </div>
  </div>
