<div class="notification-background">
    <div class="notification">
        <div class="notification-image">
            <mat-icon>phone_iphone</mat-icon>
        </div>
        <div class="notification-content">
            <div class="notification-content-top">
                <small>
                    1 minute ago
                </small>
                <small>
                    by: Mike | Mints
                </small>
            </div>
            <span class="notification-content-bottom">Mechanical Grasshopper</span>
        </div>
    </div>
    <div class="notification-options">
        <img src="../../assets/images/79376248_2535809083152417_8202679011785048064_o.jpg">
        <mat-icon class="active-icon">visibility</mat-icon>
        <mat-icon>favorite</mat-icon>
        <mat-icon>delete</mat-icon>
    </div>
</div>